#center .top{
	width:425px;
	height: 427px;
	margin: 0px auto;
	padding: 20px 5px;
}
#center .top div:first-child{
	padding-bottom: 4px;
	border-bottom: solid gray 2px;
	width: 4.5em;
}
#center .top div{
	margin-bottom: 10px;
}
#center .top span{
	display: inline-block;
	font-size: 12px;
	margin-bottom: 2px;
	width: 78%;
}
#center .top input{
	height: 25px;
	width: 330px;
	border: solid gray 1px;
	cursor: text;
	padding:0px 10px;
}
#center .top a{
	font-size: 12px;
	float: right;
}
#center .top button{
	border: none;
	height: 30px;
	width: 105px;
	background-color: black;
	color: wheat;
	margin-top: 10px;
}
#center .top p{
	margin-top: -10px;
	font-size: 12px;
	color: gray;
}
