<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <!-- 配置404错误页面 -->
  <error-page>
    <error-code>404</error-code>
    <location>/support/Error404.html</location>
  </error-page>
  
  <!--手机页面引导(将页面从电脑页面引入手机页面) -->
  <filter>
    <filter-name>mobileLeader</filter-name>
    <filter-class>Filters.MobileLeader</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>mobileLeader</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>mobileLeader</filter-name>
    <url-pattern>/index.html</url-pattern>
  </filter-mapping>
  
  <!-- 电脑页面静态化 -->
  <filter>
    <filter-name>homepageStatic</filter-name>
    <filter-class>Filters.HomepageStatic</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>homepageStatic</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>homepageLeader</filter-name>
    <filter-class>Filters.HomepageLeader</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>homepageLeader</filter-name>
    <url-pattern>/index.html</url-pattern>
  </filter-mapping>
  
  <!-- 手机页面静态化 -->
  <filter>
    <filter-name>MobileHomepageStatic</filter-name>
    <filter-class>Filters.MobileHomepageStatic</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MobileHomepageStatic</filter-name>
    <url-pattern>/mobile_homepage.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>MobileHomepageLeader</filter-name>
    <filter-class>Filters.MobileHomepageLeader</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MobileHomepageLeader</filter-name>
    <url-pattern>/mobile_homepage.html</url-pattern>
  </filter-mapping>
  
  <!-- 防止盗链 -->
  <filter>
    <filter-name>Keeper</filter-name>
    <filter-class>Filters.imgKeeper</filter-class>
  </filter>
  	<!-- 防止图片盗链 -->
  <filter-mapping>
    <filter-name>Keeper</filter-name>
    <url-pattern>/img/advs/*</url-pattern>
  </filter-mapping>
  	<!-- 防止工作区盗链(貌似没有多大作用) -->
  <filter-mapping>
    <filter-name>Keeper</filter-name>
    <url-pattern>/hWord.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Keeper</filter-name>
    <url-pattern>/hExcel.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Keeper</filter-name>
    <url-pattern>/hPPT.html</url-pattern>
  </filter-mapping>
  
  <!-- 对手机样式表进行隔离 -->
  <filter>
    <filter-name>WorkSpaceServer</filter-name>
    <filter-class>Filters.WorkSpaceServer</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WorkSpaceServer</filter-name>
    <url-pattern>/css/hPPT_mobile.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>WorkSpaceServer</filter-name>
    <url-pattern>/css/hExcel_mobile.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>WorkSpaceServer</filter-name>
    <url-pattern>/css/hWord_mobile.css</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <servlet-name>getSession</servlet-name>
    <servlet-class>Servlets.getSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getSession</servlet-name>
    <url-pattern>/support/getSession</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>saveSupport</servlet-name>
    <servlet-class>Servlets.saveSupport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveSupport</servlet-name>
    <url-pattern>/support/saveSupport</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UserSupport</servlet-name>
    <servlet-class>Servlets.UserSupport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSupport</servlet-name>
    <url-pattern>/support/UserSupport</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>sureImgSupport</servlet-name>
    <servlet-class>Servlets.sureImgSupport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sureImgSupport</servlet-name>
    <url-pattern>/support/sureImgSupport</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>OnlineDoc</servlet-name>
    <servlet-class>Servlets.OnlineDoc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnlineDoc</servlet-name>
    <url-pattern>/OnlineDoc</url-pattern>
  </servlet-mapping>
  
  <listener>
    <listener-class>Listeners.FileDeleter</listener-class>
  </listener>
  <listener>
    <listener-class>Listeners.Tongji</listener-class>
  </listener>
</web-app>